
<from>
<div>
    <%= form_for @prototype do |f| %>
		<%= f.fields_for :thumbnails do |thumbnail| %>
		   <li class="btn"><%= thumbnail.file_field :image %></li>


		<% end %>
	    <%= f.submit "Submit" %>
    <% end %>
  </div>


  <div =class="form-inline">
  <label class="checkbox-inline"><input type="radio" name="radio" value="1" id="length">縦に並べる</label>
  <label class="checkbox-inline"><input type="radio" name="radio" value="2" id="side" >横に並べる</label>
</div>


  <div class="preview" >
    <div class="material_1"></div>
    <div class="material_2"></div>
    <div class="material_3"></div>
    <div class="material_4"></div>
  </div>

  <div class="preview2">
      <div class="material_1"></div>
      <div class="material_2"></div>
      <div class="material_3"></div>
      <div class="material_4"></div>
  </div>

  </form>
