
  <strong>Image:</strong>


    <tr>
      <%  @prototype.thumbnails.each do |thumbnail| %>
      <%= image_tag thumbnail.image_url %>
      <% end %>
    </tr>

    <p>Rmagickで加工した画像</p>
    <%= image_tag('/resize3.jpg') %>


    <div class="preview">
        <div class="material material_1"></div>
        <div class="material material_2"></div>
        <div class="material material_3"></div>
        <div class="material material_4"></div>
    </div>
