
  <strong>Image:</strong>


    <tr>
      <%= image_tag @prototype.image.to_s %>
    </tr>



<div class="preview">
    <div class="material material_1"></div>
    <div class="material material_2"></div>
    <div class="material material_3"></div>
    <div class="material material_4"></div>
</div>
