
<div class="top-main">
  <div class="top-area">
    <h1>たくさんの思い出を一つにまとめませんか？</h1>
    <p>画像をつなげて、ひとつの画像にしよう！</p>
    <a><%= link_to("クリエイト画面に移動する","/prototypes/new",class:"square_btn") %></a>
  </div>

</div>

</body>
