// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 共通レイアウト ================================ */
.main {
  position: absolute;
  top: 20px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
}

/* タイトルサイズ ================================ */
.title_size{
  float: left; /* ロゴ表示部分を左寄せで設定 */
  width: 250px;
  height: 80px;

}

/* ヘッダー */
.header {

  width: 100%; /* 横幅を画面一杯に設定 */
  height: 46px; /* ヘッダーの高さを設定 */
  background: white; /* 背景色の設定 */
  border-bottom: solid 1px #EEE; /* ヘッダーの下に1ピクセルの実線を設定 */
}


/* グローバルナビゲーション */
.header-menus {
  float: right;
  padding-right: 30px;
}

.header-menus ul{
  clear: both; /* 回り込みを解除する際に使用しdiv要素が重ならないように設定 */
}

.header-menus li {
  float: left;
  line-height: 10px;
  font-size: 15px;
  color: white;
  list-style: none;
}

/* メインパネル */
.top-main {
  padding: 46px 0 0 0; /* メインパネル上部に46ピクセルの余白を設定 */
  background-image: url("/panel.jpg");
  /* 背景を中央寄せで繰り返しなしで設定 */
  background-size: cover;
	position: relative;
	height:600px;
}

.top-main::before{
  /* 透過した黒を重ねる */
background-color: rgba(0,0,0,0.5);
/* どの範囲に重ねるかを指定 */
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: ' ';
}



.top-area {
  margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りになります */
  padding: 90px 0 0 0; /* メインパネルコンテンツ上部に90ピクセルの余白を設定 */
  width: 1280px; /* 横幅を980ピクセルで設定 */
  position: absolute;
  text-align: center;
}


h1{
  margin-bottom: 10px;  /* h1の下に10pxの余白を設定 */
  font-size: 182%; /* フォントサイズを元サイズの182%で表示 */
  font-weight: bold; /* 太字 */
  line-height: 2.0em; /* 上下に半行余白の段落の高さを設定 */
  color: #fff; /* フォントの色を白に設定 */
}

p{
  margin-bottom: 10px;  /* h1の下に10pxの余白を設定 */
  font-size: 20px; /* フォントサイズを元サイズの182%で表示 */
  font-weight: bold; /* 太字 */
  color: #fff; /* フォントの色を白に設定 */
}
/* ボタン*/
.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #668ad8;
    border: dashed 1px #FFF;
}

.square_btn:hover{
	border: dotted 1px #FFF;
}

a:link {
   color: #006DD9; /* リンクテキストを青色に設定 */
   text-decoration: none; /* テキストに下線が表示されないように設定 */
 }

 a:hover {  /* hoverはマウスを乗せたときの設定 */
   color: #cd4730; /* リンクテキストを赤色に設定 */
   text-decoration: underline; /* テキストに下線が表示されないように設定 */
 }

 /* フラッシュ ================================ */
 .flash {
   padding: 10px 0;
   color: black;
   background: #13EEFF;
   text-align: center;
   position: absolute;
   top: 64px;
   z-index: 10;
   width: 100%;
   border-radius: 0 0 2px 2px;
   font-size: 30px;
   font-family: sans-serif;
 }
