// Place all the styles related to the prototypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-main{

}

.multiple{
  list-style:none;
}

.preview{
  border: solid 10px #C0C0C0;
  margin: 10px auto;
  height: 900px;
  width:  900px;
 display: block;
 background-image: url("/CorkBoard.jpg");
 position: relative;
}

#jquery-ui-draggable1 {
    width: 100px;
    height: 100px;
    padding: 50px;
    margin: 0;
    background-image: url("/CorkBoard.jpg");
}

#jquery-ui-draggable {
  position: relative;
}

#jquery-ui-draggable2 {
  position: relative;
}

#jquery-ui-draggable3 {
  position: relative;
}

#jquery-ui-draggable4 {
  position: relative;
}

#resizable {
    width: 300px;
    height: 100px;
    padding: 0.5em;
      border: solid 10px #C0C0C0;
}


.material{
	position: absolute;
	width: 300px;
	height: 300px;
}

.material_1{
	left:0;
	top:0;
}

.material_2{
  left: 300px;
}

.material_3{
  top: 300px;
}

.material_4{
  top: 300px;
  left: 300px;
}
