// Place all the styles related to the prototypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.preview{
  border: solid 1px black;
  height: 1280px;
  width:  320px;

}
